@charset utf-8;

/*All style*/
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei","Ubuntu";
}
html {
	font-size: 10px;
}
body {
	background: #60a785;
}
html,body {
	height: 100%;
	overflow: hidden;
}

.yellow {
	background: #ffe1a1;
	height: 50%;
	position: relative;
}

.circle {
	background: #ff9c60;
	width: 35rem; height: 35rem;
	border-radius: 50%;
	margin: 0 auto;
	position: absolute;
	bottom: -50%; left: 50%;
	margin-left: -17.5rem;
	text-align: center;
}

.team_name {
	font-size: 17rem;
	color: #fff;
	text-shadow: 4px 4px 0px #1ea392;
	display: inline-block;
	line-height: 33rem;
}

.tag {
	color: #fff;
	background: #60a785;
	position: absolute;
}
.tag:before {
	
}