@charset utf-8;

/*All style*/
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
html,body {
	position: relative;
	height: 100%;
	font-size: 62.5%;
	overflow: hidden;
}

/*circle*/
@media (max-width: 480px) {
	div.circle {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		height: 65vw;
		width: 65vw;
		border: 1px solid #ff9c60;
		background: #ff9c60;
		text-align: center;
		line-height: 65vw;
		font-size: 10rem;
		color: #fefefe;
		cursor: pointer;
		z-index: 2;
		text-shadow: 8px 8px 5px #1ba693;
		box-shadow: 15px 15px 5px #25393a;
		-moz-border-radius: 100%;
		     border-radius: 100%;
	}
	div.circle_animation {
		-webkit-animation: cir 3s forwards;
		   -moz-animation: cir 3s forwards;
		    -ms-animation: cir 3s forwards;
		     -o-animation: cir 3s forwards;
		        animation: cir 3s forwards;
	}
	@keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 22vh;
			height: 65vw;
			width: 65vw;
			text-align: center;
			line-height: 65vw;
			font-size: 10rem;
		}
		100%{
			margin-top: 2vh;
			height: 32.5vw;
			width: 32.5vw;
			line-height: 32.5vw;
			font-size: 5rem;		
		}
	}
	@-webkit-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 22vh168		height: 65vw;
			width: 65vw;
			text-align: center;
			line-height: 65vw;
			font-size: 10rem;
		}
		100%{
			margin-top: 12px;
			height: 32.52vh			width: 32.5vw;
			line-height: 32.5vw;
			font-size: 5rem;		
		}
	}
	@-moz-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 22vh;
			height: 65vw;
			width: 65vw;
			text-align: center;
			line-height: 65vw;
			font-size: 10rem;
		}
		100%{
			margin-top: 2vh;
			height: 32.5vw;
			width: 32.5vw;
			line-height: 32.5vw;
			font-size: 5rem;		
		}
	}
	@-o-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 22px;
			height: 65vw;
			width: 65vw;
			text-align: center;
			line-height: 65vw;
			font-size: 10rem;
		}
		100%{
			margin-top: 2vh;
			height: 32.5vw;
			width: 32.5vw;
			line-height: 32.5vw;
			font-size: 5rem;		
		}
	}
}
@media (min-width: 480px) {
	div.circle {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		height: 465px;
		width: 465px;
		border: 1px solid #ff9c60;
		background: #ff9c60;
		text-align: center;
		line-height: 465px;
		font-size: 18rem;
		color: #fefefe;
		cursor: pointer;
		z-index: 2;
		text-shadow: 8px 8px 5px #1ba693;
		box-shadow: 15px 15px 5px #25393a;
		-moz-border-radius: 100%;
		     border-radius: 100%;
	}
	div.circle_animation {
		-webkit-animation: cir 3s forwards;
		   -moz-animation: cir 3s forwards;
		    -ms-animation: cir 3s forwards;
		     -o-animation: cir 3s forwards;
		        animation: cir 3s forwards;
	}
	@keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 168px;
			height: 465px;
			width: 465px;
			text-align: center;
			line-height: 465px;
			font-size: 18rem;
		}
		100%{
			margin-top: 12px;
			height: 145px;
			width: 145px;
			line-height: 145px;
			font-size: 3rem;		
		}
	}
	@-webkit-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 168px;
			height: 465px;
			width: 465px;
			text-align: center;
			line-height: 465px;
			font-size: 18rem;
		}
		100%{
			margin-top: 12px;
			height: 145px;
			width: 145px;
			line-height: 145px;
			font-size: 3rem;		
		}
	}
	@-moz-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 168px;
			height: 465px;
			width: 465px;
			text-align: center;
			line-height: 465px;
			font-size: 18rem;
		}
		100%{
			margin-top: 12px;
			height: 145px;
			width: 145px;
			line-height: 145px;
			font-size: 3rem;		
		}
	}
	@-o-keyframes cir {
		0% {
			margin: auto auto;
			margin-top: 168px;
			height: 465px;
			width: 465px;
			text-align: center;
			line-height: 465px;
			font-size: 18rem;
		}
		100%{
			margin-top: 12px;
			height: 145px;
			width: 145px;
			line-height: 145px;
			font-size: 3rem;		
		}
	}
}

/*tag*/
@media (max-width: 480px) {
	div.tag {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: 35vh;
		margin-left: 10vw;
		height: 8vw; 
		width: 22vw;
		border: 1px solid #60a785;	
		font-size: 1.8rem;
		color: #fbffff;
		background: #60a785;
		text-align: center;
		line-height: 8vw;
		z-index: 3;
		-webkit-transform: rotate(30deg);
		   -moz-transform: rotate(30deg); 
		    -ms-transform: rotate(30deg); 
		     -o-transform: rotate(30deg); 
		        transform: rotate(30deg);
	}
}
@media (min-width: 480px) {
	div.tag {
		position: absolute;
		right: 50%;
		top: 50%;
		margin-top: -160px;
		margin-right: 124px;
		height: 40px; 
		width: 126px;
		border: 1px solid #60a785;	
		font-size: 2.5rem;
		color: #fbffff;
		background: #60a785;
		text-align: center;
		line-height: 40px;
		z-index: 3;
		-webkit-transform: rotate(30deg);
		   -moz-transform: rotate(30deg); 
		    -ms-transform: rotate(30deg); 
		     -o-transform: rotate(30deg); 
		        transform: rotate(30deg);	
	}
}

/*tag_shadow*/
@media (max-width: 480px) {
	div.tag_shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: 35vh;
		margin-left: 10vw;
		height: 8vw; 
		width: 22vw;
		border: 1px solid #24393e;	
		background: #24393e;
		z-index: 1;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg); 
		    -ms-transform: rotate(45deg); 
		     -o-transform: rotate(45deg); 
		        transform: rotate(45deg);	
	}
}
@media (min-width: 480px) {
	div.tag_shadow {
		position: absolute;
		right: 50%;
		top: 50%;
		margin-top: -160px;
		margin-right: 124px;
		height: 40px; 
		width: 126px;
		border: 1px solid #24393e;	
		background: #24393e;
		z-index: 1;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg); 
		    -ms-transform: rotate(45deg); 
		     -o-transform: rotate(45deg); 
		        transform: rotate(45deg);	
	}
}

/*null_page1*/
div.null_page1 {
	height: 50%;
	background: #ffe1a1;
}
div.page1_animation {
	-webkit-animation: page1 3s forwards;
	   -moz-animation: page1 3s forwards;
	    -ms-animation: page1 3s forwards;
	     -o-animation: page1 3s forwards;
	        animation: page1 3s forwards;
}
@keyframes page1 {
	0%: {
		height: 25%;
	}
	100%{
		height: 10%;
	}
}
@-webkit-keyframes page1 {
	0%: {
		height: 25%;
	}
	100%{
		height: 10%;
	}
}
@-moz-keyframes page1 {
	0%: {
		height: 25%;
	}
	100%{
		height: 10%;
	}
}
@-o-keyframes page1 {
	0%: {
		height: 25%;
	}
	100%{
		height: 10%;
	}
}

/*null_page2*/
div.null_page2 {
	height: 50%;
	background: #60a785;
}
div.page2_animation {
	-webkit-animation: page2 3s forwards;
	   -moz-animation: page2 3s forwards;
	    -ms-animation: page2 3s forwards;
	       -animation: page2 3s forwards;
			animation: page2 3s forwards;
}
@keyframes page2 {
	0%: {
		height: 75%;
	}
	100% {
		height: 90%;
	}
}
@-webkit-keyframes page2 {
	0%: {
		height: 75%;
	}
	100% {
		height: 90%;
	}
}
@-moz-keyframes page2 {
	0%: {
		height: 75%;
	}
	100% {
		height: 90%;
	}
}
@-o-keyframes page2 {
	0%: {
		height: 75%;
	}
	100% {
		height: 90%;
	}
}

/*iconfont*/
@media (max-width: 480px) {
	div.iconfont {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		margin-bottom: -20vh;
		height: 20vh;
		width: 100vw;
	}
	div.iconfont_animation {
		-webkit-animation: iconfont 3s forwards;
		   -moz-animation: iconfont 3s forwards;
		    -ms-animation: iconfont 3s forwards;
		     -o-animation: iconfont 3s forwards;
			    animation: iconfont 3s forwards;
	}
	@keyframes iconfont {
		0%{
			margin-bottom: -20vh;
		}
		100%{
			margin-bottom: 40vh;
		}
	}
	@-webkit-keyframes iconfont {
		0%{
			margin-bottom: -20vh;
		}
		100%{
			margin-bottom: 40vh;
		}
	}
	@-moz-keyframes iconfont {
		0%{
			margin-bottom: -20vh;
		}
		100%{
			margin-bottom: 40vh;
		}
	}
	@-o-keyframes iconfont {
		0%{
			margin-bottom: -20vh;
		}
		100%{
			margin-bottom: 40vh;
		}
	}
	div.iconfont > div.font {
		float:left;
		margin-left: 2vw;
		height: 100%;
		width: 30vw;
		background: #ffffff;
	}
	div.iconfont > div.font > div.font-head {
		position: relative;
		height: 20%;
		border: 1px solid #568188;
		background: #568188;
		color: #ffffff;
		font-size: 0.1rem;
	}
	div.iconfont > div.font > div.font-head span.s1 {
		position: absolute;
		display: inline-block;
		left: 2%;
		top: 10%;
	}
	div.iconfont > div.font > div.font-head span.s2 {
		position: absolute;
		display: inline-block;
		right: 2%;
		top: 10%;
	}
	div.iconfont > div.font > div.font-cusp {
		position: relative;
	}
	div.iconfont > div.font > div.font-cusp span.sp {
		position: absolute;
		left: 5%;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #568188;
	}
}
@media (min-width: 480px) {
	div.iconfont {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		margin-bottom: -40%;
		height: 40%;
		width: 75%;
	}
	div.iconfont_animation {
		-webkit-animation: iconfont 3s forwards;
		   -moz-animation: iconfont 3s forwards;
		    -ms-animation: iconfont 3s forwards;
		     -o-animation: iconfont 3s forwards;
			    animation: iconfont 3s forwards;
	}
	@keyframes iconfont {
		0%{
			margin-bottom: -40%;
		}
		100%{
			margin-bottom: 15%;
		}
	}
	@-webkit-keyframes iconfont {
		0%{
			margin-bottom: -40%;
		}
		100%{
			margin-bottom: 15%;
		}
	}
	@-moz-keyframes iconfont {
		0%{
			margin-bottom: -40%;
		}
		100%{
			margin-bottom: 15%;
		}
	}
	@-o-keyframes iconfont {
		0%{
			margin-bottom: -40%;
		}
		100%{
			margin-bottom: 15%;
		}
	}
	div.iconfont > div.font {
		float:left;
		margin-left: 10%;
		height: 100%;
		width: 20%;
		background: #ffffff;
	}
	div.iconfont > div.font > div.font-head {
		position: relative;
		height: 10%;
		border: 1px solid #568188;
		background: #568188;
		color: #ffffff;
		font-size: 2rem;
	}
	div.iconfont > div.font > div.font-head span.s1 {
		position: absolute;
		display: inline-block;
		left: 10%;
		top: 10%;
	}
	div.iconfont > div.font > div.font-head span.s2 {
		position: absolute;
		display: inline-block;
		right: 10%;
		top: 10%;
	}
	div.iconfont > div.font > div.font-cusp {
		position: relative;
	}
	div.iconfont > div.font > div.font-cusp span.sp {
		position: absolute;
		left: 15%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #568188;
	}
}

/*fellow*/
@media (max-width: 480px) {
	div.fellow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		margin-bottom: -30%;
		height: 40px;
		width: 50%;
		border: 1px solid #25393a;
		background: #25393a;
		text-align: center;
		-moz-border-radius: 100px;
		     border-radius: 100px;
	}
	div.fellow_animation {
		-webkit-animation: fellow 3s forwards;
		   -moz-animation: fellow 3s forwards;
		    -ms-animation: fellow 3s forwards;
		     -o-animation: fellow 3s forwards;
		        animation: fellow 3s forwards;
	}
	@-webkit-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@-moz-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@-o-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	div.fellow a{
		text-decoration: none;
		font-size: 1.5rem;
		color: #ffffff;
		line-height: 40px;
		text-align: center;
	}
}
@media (min-width: 480px) {
	div.fellow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		margin-bottom: -30%;
		height: 40px;
		width: 20%;
		border: 1px solid #25393a;
		background: #25393a;
		text-align: center;
		-moz-border-radius: 100px;
		     border-radius: 100px;
	}
	div.fellow_animation {
		-webkit-animation: fellow 3s forwards;
		   -moz-animation: fellow 3s forwards;
		    -ms-animation: fellow 3s forwards;
		     -o-animation: fellow 3s forwards;
		        animation: fellow 3s forwards;
	}
	@-webkit-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@-moz-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@-o-keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	@keyframes fellow {
		0%{
			margin-bottom: -30%;
		}
		100%{

			margin-bottom: 5%;
		}
	}
	div.fellow a{
		text-decoration: none;
		font-size: 2.5rem;
		color: #ffffff;
		line-height: 40px;
		text-align: center;
	}
}

